<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Infinite Scroll</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="animated bounceInUp">
    <ion-item *ngFor="let numero of numeros | slice:0:limit">
      <ion-label color="dark">{{numero}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="popularInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>