<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Progress Bar</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <h1>Processando 10%</h1>
  <ion-progress-bar value="0.1"></ion-progress-bar>

  <h1>Processando 50%</h1>
  <ion-progress-bar value="0.5"></ion-progress-bar>

  <h1>Processando 80%</h1>
  <ion-progress-bar color="danger" value="0.8"></ion-progress-bar>

  <h1>Processando Indeterminado</h1>
  <ion-progress-bar color="dark" type="indeterminate"></ion-progress-bar>

  <h1>Processando Indeterminado Reverso</h1>
  <ion-progress-bar color="danger" type="indeterminate" reversed="true"></ion-progress-bar>



</ion-content>