<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Badge</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>Notificações</ion-label>
    <ion-badge slot="start">150</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>Usuários</ion-label>
    <ion-badge slot="end">850</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>Produtos</ion-label>
    <ion-badge color="danger" slot="end">850</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>Dinamicamente</ion-label>
    <ion-badge color="dark">{{notificacoes}}</ion-badge>
  </ion-item>
</ion-content>