<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Floating Action Button</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h3>Aula de Fab</h3>
  Linha
  <br> Linha
  <br> Linha
  <br> Linha
  <br> Linha
  <br> Linha
  <br> Linha
  <br> Linha
  <br> Linha
  <br> Linha
  <br> Linha
  <br> Linha
  <br> Linha
  <br> Linha
  <br> Linha
  <br> Linha
  <br> Linha
  <br> Linha
  <br> Linha
  <br>

  <ion-fab vertical="top" horizontal="start">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="top" horizontal="end">
    <ion-fab-button>
      <ion-icon name="star"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" (click)="salvar()">
    <ion-fab-button>
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="center">
    <ion-fab-button>
      <ion-icon name="people"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-fab vertical="center" horizontal="center">
    <ion-fab-button>
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button>
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="bottom">
      <ion-fab-button>
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-fab-button>
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>



</ion-content>