<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Content</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScrollStart)="logScrollStart()" (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()">
  <div slot="fixed">
    <h1>Meu Titulo</h1>
  </div>

  <ion-list>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ionic 5</ion-label>
    </ion-item>
  </ion-list>
</ion-content>